#canvas{
    width: 1200px;
    height: 800px;
    border: 10px solid black;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.first, .last {
	display: block;
	height: 120vh;
	position: absolute;
	width: 50%;
	z-index: 999;
}

.first {
	background-image: url("../images/splashscreen_1100_720.png");
	right: 50%;
}

.last {
	background-image: url("../images/splashscreen_1100_720.png");
	right: 0;
}
